<% content_for :title do %>OWatch Security Center<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Guard1" data-view="Number" data-title="Guard No.: " data-prefix=""></div>
    </li>    
    <li data-row="1" data-col="3" data-sizex="3" data-sizey="1">
      <div data-id="GuardActivity1" data-view="Number" data-title="Activity: " data-prefix="" style="background-color:#33CAFF"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Checkpoint1" data-view="Number" data-title="Current Checkpoint: " data-prefix=""></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="GuardReached1" data-view="Number" data-title="Guard Reached: " data-prefix=""></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="NextCheckpoint1" data-view="Number" data-title="Next Checkpoint: " data-prefix=""></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="GuardAlarm1" data-view="Number" data-title="Alarm: " data-prefix=""></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Guard2" data-view="Number" data-title="Guard No.: " data-prefix=""></div>
    </li>    
    <li data-row="3" data-col="4" data-sizex="3" data-sizey="1">
      <div data-id="GuardActivity2" data-view="Number" data-title="Activity: " data-prefix="" style="background-color:#33CAFF"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Checkpoint2" data-view="Number" data-title="Current Checkpoint: " data-prefix=""></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="GuardReached2" data-view="Number" data-title="Guard Reached: " data-prefix=""></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="NextCheckpoint2" data-view="Number" data-title="Next Checkpoint: " data-prefix=""></div>
    </li>
    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="GuardAlarm2" data-view="Number" data-title="Alarm: " data-prefix=""></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="channelA" data-view="Number" data-title="Channel A Auth.: " data-prefix=""></div>
    </li>
    <li data-row="5" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="channelB" data-view="Number" data-title="Channel B Auth.:" data-prefix=""></div>
    </li>

  </ul>
</div>
